<ion-grid class="comment-item-main-wrapper ion-no-padding">

  <ion-row class="comment-item-profile-icon-container ion-no-padding">
    <ion-icon name="person-circle"></ion-icon>
  </ion-row>

  <div class="comment-item-content-container ion-no-padding">

    <div class="comment-author-container ion-no-padding">
      <ion-label>{{commentItem.authorName}}</ion-label>
    </div>

    <div class="comment-container ion-no-padding">
      <ion-label>{{commentItem.comment}}</ion-label>
    </div>

  </div>

</ion-grid>
