<ion-content class="profile-page-main-wrapper  ion-no-padding">

  <div class="profile-page-main-container">

    <div class="profile-page-content">

      <app-phrsario-toolbar [toolbarTitle]="'Perfil'" ></app-phrsario-toolbar>

      <phrasario-input
        (onInputValueChange)="onNameChange($event, 'name')"
        [placeholder]="'Nombre'"></phrasario-input>

      <phrasario-input
        (onInputValueChange)="onNameChange($event, 'userName')"
        [placeholder]="'Nombre de usuario'"></phrasario-input>

      <phrasario-input
        (onInputValueChange)="onNameChange($event, 'email')"
        [placeholder]="'Correo electrónico'"></phrasario-input>

      <div>
        <ion-label style="color: red">
          {{nameValue}}
        </ion-label>
      </div>

    </div>

    <div class="profile-page-button-container">

      <ion-button [disabled]="!isFormValid()">Guardar</ion-button>

    </div>


  </div>

</ion-content>
