<ion-content class="profile-page-main-wrapper  ion-no-padding">

  <div class="profile-page-main-container">

    <div class="profile-page-content">

      <app-phrsario-toolbar [toolbarTitle]="'Perfil'" ></app-phrsario-toolbar>

      <phrasario-input [placeholder]="'Nombre'"></phrasario-input>

      <phrasario-input [placeholder]="'Nombre de usuario'"></phrasario-input>

      <phrasario-input [placeholder]="'Correo electrónico'"></phrasario-input>

    </div>

    <div class="profile-page-button-container">

      <ion-button>Guardar</ion-button>

    </div>


  </div>

</ion-content>
