<ion-content class="main-container-wrapper ion-no-padding">

  <div class="main-container ion-no-padding">

    <div class="profile-icon-container">
      <ion-icon (click)="onProfileIconClicked()" name="person-circle"></ion-icon>
    </div>

    <div class="phrase-of-the-day-container">

      <div class="phrase-of-the-day-title-container">
        <ion-label>Phrasario del día</ion-label>
      </div>

      <app-phrase-component

        [phraseItem]="phraseOfTheDay"></app-phrase-component>
    </div>

    <div class="last-phrases-container">

      <div class="last-phrase-title-container">
        <ion-label>Últimos destacados</ion-label>
      </div>

      <app-phrase-component></app-phrase-component>
      <app-phrase-component></app-phrase-component>
      <app-phrase-component></app-phrase-component>
    </div>

  </div>

</ion-content>
