.main-container-wrapper {
  width: 100%;
  height: 100%;
  --background : grey;

  .main-container {
    width: 100%;
    height: 100%;
    background: #3a7be0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .children {
      width: 100px;
      height: 100px;
      background: red;
      border: 1px solid black;
    }

  }

}
