.main-container-wrapper {
  width: 100%;
  height: 100%;

  .main-container {
    width: 100%;
    height: 100%;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center; // Vertical
    justify-content: flex-start; //Horizontal
    padding: 0 22px;

    .profile-icon-container {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ion-icon {
        color: var(--ion-color-primary);
        font-size: 45px;
      }

    }

    .phrase-of-the-day-container {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .phrase-of-the-day-title-container {
        width: 300px;
        height: 20px;
        margin-bottom: 15px;

        ion-label {
          font-weight: bold;
          color: var(--ion-color-tertiary);
        }

      }

    }

    .last-phrases-container {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .last-phrase-title-container {
        width: 300px;
        height: 20px;

        ion-label {
          font-weight: bold;
          color: var(--ion-color-tertiary);
        }

      }

    }

  }

}
