<ion-content class="main-container-wrapper ion-no-padding">

  <div class="main-container ion-no-padding">

    <div class="profile-icon-container">
      <ion-icon (click)="onProfileIconClicked()" name="person-circle"></ion-icon>
    </div>

    <div class="phrase-of-the-day-container">
      <app-phrase-component></app-phrase-component>
    </div>

    <div class="last-phrases-container">
      <app-phrase-component></app-phrase-component>
      <app-phrase-component></app-phrase-component>
      <app-phrase-component></app-phrase-component>
    </div>

  </div>

</ion-content>
