.main-container-wrapper {
  width: 100%;
  height: 100%;

  .main-container {
    width: 100%;
    height: 100%;
    background: var(--ion-color-medium);
    display: flex;
    flex-direction: column;
    align-items: center; // Vertical
    justify-content: flex-start; //Horizontal
    padding: 0 22px;

    .profile-icon-container {
      width: 100%;
      height: 10%;
      border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ion-icon {
        color: var(--ion-color-primary);
        font-size: 45px;
      }

    }

    .phrase-of-the-day-container {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid red;
    }

    .last-phrases-container {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid red;
    }

  }

}
